
<div id="reset">
	<div class="login">


<h1>Password reset</h1>

<p>Please enter your email below</p>
<%= form_tag password_resets_path, :method => :post do %>
  <div class="field">
    <%= label_tag :email %> 
    <%= text_field_tag :email, params[:email] %>
  </div>
  <div class="actions"><%= submit_tag "Reset Password" %></div>
<% end %>

</div> 

</div> 

<div id="notifi">
<p> By entering your email and submitting the form, you will receive an email with the reset instructions </p>

	</div> 