
<div id="section3"> 
<h3>Our Mission: </h3> 
<p>Simpletech aims to provide a better, more efficient way for students to register for courses in other universities, through AcrossEC. 
</p> 

<h3>AcrossEC: </h3>
<p>AcrossEC is a web application that provides a platform for students and registrars to facilitate the cross registration process. <p> 

<p>Students are able to signup and apply for courses, after viewing different schedules from different universities in Education City. Students are also able to check the status of the application through AcrossEC. </p> 

<p>Registrars are able to upload different class schedules associated with their universities. They are also able to view student applications that are sent to their universities. In addition, Registrars can approve or decline applications through AcrossEC with an automatic notifications to students who applied. </p> 

<h3>Simpletech: </h3>

<p> Simpletech is a team of Information Systems juniors, at Carnegie Mellon University in Qatar. Our team consists of: </p> 

<p>
Hawra Abdulla <br>
Nawal Behih<br>
Talal Shoeb<br>
Zuhair Ghalib
</p>
</div> 