
<div id="mapimage">
<img src="assets/map.jpg" width="600" height="350">
</div>


<div id="first_column_down">
<h3> Important Deadlines </h3> 
<p>January 13th 2012 - Classes of Spring Semester 2013 start </p>
<p> May 4th 2013 - End of Spring Semester 2013 </p>
<p> May 21st 2013 - Classes of Summer 1 start </p>
<p> August 26th 2013 - Classes of Fall Semester 2013 start </p>
<p> December 16th 2013 - End of Fall Semester 2013 </p>
<p> January 13th 2013 - Classes of Spring Semester 2014 start </p>

</div> 


<div id="first_column">

<h2> Welcome to Across EC</h2>
<p class"overlay-text"> 
Across EC is an online cross registration website done by SimpleTech, a group of students from Carnegie Mellon University in Qatar. This website allows its users to look at the courses offered in Education City Universities, register for a given course as a student and check out all the applications and chose which ones to approve and which ones to decline as a registrar.</p>
<p>This website is easy to use and will save a lot of your time. Enjoy it! </p>
<br /><br /><br /><br />
</div>



