<br><br><br><br>
<div class="show_table"> 
<h3>Send your comments or Questions</h3>

<form action="mailto:email@email.com" method="post">
	Name: <br><input type="text" name="firstname"><br><br>
	Email: <br><input type="text" name="lastname"><br>
	<br>
	Comments and Questions: <br>
<textarea rows="8" cols="40">
</textarea>
<br>
<br>
<input type="submit" value="Submit">
</form>
</div> 