<br><br><br><br>
<div class="show_table"> 
<h3>Send your comments or Questions</h3>

<p>Simpletech</p>
<p>Telephone: +974 66177975</p>
<p>Address: 1173 Carnegie Mellon University, Education City. Doha, Qatar </p>
<p>If you have any Questions or Comments please email us at</p> <a href="mailto:across.ec@gmail.com">Across.EC@gmail.com</a>
</div>  