
<div id="mapimage">
<img src="http://i49.tinypic.com/y1kll.jpg" width="600" height="350">

</div>

<div id="first_column_down">
<h3> Important Deadlines </h3> 
<% @deadline = Deadline.all[0] %>
<p> Semester:
<%= @deadline.semester %>
</p>
<p>
Start of registration:
<%= @deadline.start_of_registration %>
</p>
<p>
Start of classes:
<%= @deadline.start_of_classes %>
</p>

<% if current_registrar %>
<% if current_registrar.admin == true %>
<li><a href="/deadlines/1/edit">Update Deadlines</a></li>
<% end %>
<% end %>
</div>

<div id="first_column">

<h2> Welcome to Across EC </h2>
<p class"overlay-text"> 
Across EC is an online cross registration website done by SimpleTech, a group of students from Carnegie Mellon University in Qatar. This website allows its users to look at the courses offered in Education City Universities, register for a given course as a student and check out all the applications and chose which ones to approve and which ones to decline as a registrar.</p>
<p>This website is easy to use and will save a lot of your time. Enjoy it!</p>
<br /><br /><br /><br />
</div>



