<head>

<script type="text/javascript">

$(function() {

	$(".slider").jslider({

		btnNext: ".next", 
		btnPrev: ".prev"
	})
}); 

</script>
</head>
<body>
<div id="container">


</div>
<br> 

<h2> Welcome to our website! </h2>

<p> Across EC is a cross registration website made by the Simple Tech team from Carnegie Mellon University in Qatar.
We made this website to make the registration process for students and registrars easier within Education City.</p> 
</body>