
<br> 

<h2> Welcome to our website! </h2>

<%= link_to "Log in as a Registrar", '/loginasregistrar' %>
<%= link_to "Log in as a Student", '/loginasstudent' %>

<p> Across EC is a cross registration website made by the Simple Tech team from Carnegie Mellon University in Qatar.
We made this website to make the registration process for students and registrars easier within Education City.</p> 
</body>