html {
	width: 100%;
}
body {
	background-image:url(http://i49.tinypic.com/333wlk5.jpg); 
		/*http://s12.postimg.org/p41iooa9p/background.jpg');*/ 
		font-family: Verdana, Geneva, sans-serif;
}

footer {


	width: 1000px; 
}

#log_in
{
	margin-top: -30px;
	margin-right: 80px;
	float: right;
	font-size: 30px;
	color: #098642;
	width: 100px;
	list-style: none;

	
}
	
#box {
padding:-50px; 
margin-left: 18%;
margin-right: 10%;
height: 700px;
width: 800px; 
top: 150px;
}


#logo { 
margin-left: -9%;
margin-top: 2%;


}
.chee
{
	height:70px;
	width:190px;
}

#images
{
	padding: 5px;
	margin-left: 15.5%;
	margin-right: 15.5%;
	position: absolute;
	z-index: -1;
	opacity: 0.6;
	border: none;
	top: 160px;
}
#content
	{
    margin-top: -3%;
		z-index:1;
	}


ul
{
padding:18px;
color: white;
list-style-type: none;
}


li
{
font-size: 18px;
float:left;
list-style-type: none;
}

a:visited {color:black;} /* visited link */
a:hover {color:black;  }   /* mouse over link */
a:active {color:grey;}  /* selected link */
a::link {text-decoration: none}



.first_column{

margin-top: 200px;
margin-left: 20px;

}


#first_column_down{
margin-top: -29%;
margin-left: 650px;
width: 200px;
font-size:12px
}


#top_nav {
margin-top: 0.5%;
margin-left: 5%;
width: 800px; 
}
ul#top_nav li {
  list-style: none;
  float: left;
}

#top_nav li a {

  text-align: center;
  height: 50px;
  width: 140px;
  line-height: 50px;
  color: #fff;
  display: block;
  text-decoration: none;
  text-shadow: 0 1px 0 #000;
 
  border-right: 1px solid #323235;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  
  background-image: -moz-linear-gradient(top, #535357, #757575);
  background-image: -ms-linear-gradient(top, #535357, #757575);
  background-image: -webkit-linear-gradient(top, #535357, #757575);
  background-image: linear-gradient(top, #535357, #757575);

  
  -webkit-box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.2), 0 1px 0px #575757;
     -moz-box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.2), 0 1px 0px #575757;
          box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.2), 0 1px 0px #575757;

}

ul#top_nav li a:hover {
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.2);
  background-image: -moz-linear-gradient(top, #575757, #575757);
  background-image: -ms-linear-gradient(top, #575757, #313132);
  background-image: -webkit-linear-gradient(top, #575757, #313132);
  background-image: linear-gradient(top, #575757, #313132);
  
  -webkit-box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.2), 0 1px 0px #575757;
      -moz-box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.2), 0 1px 0px #575757;
           box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.2), 0 1px 0px #575757;
}


ul#top_nav li a:active  {
  background: #414142;
  -webkit-box-shadow: inset 0 2px 3px rgba(0,0,0, 0.2);
      -moz-box-shadow: inset 0 2px 3px rgba(0,0,0, 0.2);
           box-shadow: inset 0 2px 3px rgba(0,0,0, 0.2);
}


#mapimage
{
	height:300px;
	width:550px;
	margin-top:96px;
	margin-left: 22px;

}

#second_nav{
margin-top: 25%; 
margin-left: 50%; 
/* height:40px;
width:800px; */ 
color: white;
text-align: left;
list-style: none;
width: 900px;

}
 #second_nav li a:link {
	color:black;
	margin-right: 50px;

	}   
	
h2
{
 color: #098642; 
 font-size: 22px;} 

h3
{
	color:#098642;
}

#logo_footer { 
float: left;
position: relative;
margin-left: 15%;
}

	
	#second_column{
margin-top: 14%;
float: left; 
width: 15%;
}


.login label {

	text-align: none;
	font-weight: none; 

  }

.login {       /*log in button */
position:relative;
left:50px;
top:-88px;
margin: 0 auto;
padding: 20px 20px 20px;
width: 255px;
background: white;
border-radius: 3px;
-webkit-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
height:150px;

}


.login:before {
content: '';
position: absolute;
top: -8px;
right: -8px;
bottom: -8px;
left: -8px;
z-index: -1;
background: rgba(0, 0, 0, 0.08);
border-radius: 4px;
}
.login h1 {   /*h1*/
margin: -20px -20px 21px;
line-height: 40px;
font-size: 15px;
font-weight: bold;
color: #555;
text-align: center;
text-shadow: 0 1px white;
background: #f3f3f3;
border-bottom: 1px solid #cfcfcf;
border-radius: 3px 3px 0 0;
background-image: -webkit-linear-gradient(top, whiteffd, #eef2f5);
background-image: -moz-linear-gradient(top, whiteffd, #eef2f5);
background-image: -o-linear-gradient(top, whiteffd, #eef2f5);
background-image: linear-gradient(to bottom, whiteffd, #eef2f5);
-webkit-box-shadow: 0 1px whitesmoke;
box-shadow: 0 1px whitesmoke;
}
.login p { 
margin: 20px 0 0;
width:230px;
height:50px;
}
.login p:first-child {
margin-top: 0;
}
.login input[type=text], .login input[type=password] {
width: 230px;
}
.login p.submit {
text-align: right;
font-size:15px;
}

#reset {

margin-top: 150px;
float: left;
margin-left: 14px;}



#actions
{
	width:89px;
	height:70px;
	font-size:14px;

}
#registrar_student
{
	float: right;
margin-top: -97px;
margin-right: -70px;

}
#registration_form
{
	margin-right:30px;

}
#flash_error
{
padding: 5px 8px;
margin: 26px 500px;
background-color: #FCC;
border: solid 1px #c66;
color: red;
text-align: center;
height: 40px;
width: 600px;
position: absolute;

}

#first_error
{

	margin-top: -15px;
}



.confim_message{
margin-top: -14px;

}
/*
#container
{
	padding: 5px;
	margin-left: 15.5%;
	margin-right: 15.5%;
	position: absolute;
	z-index: -1;
	opacity: 0.6;
	border: none;
	top: 180px;
	width: 900px;
	 height: 780px;
}
*/

.std {
	width:30px;
}

td
{
	
	overflow: hidden;
	max-width:80px;
	max-height:80px;
	width:100px;
	padding:15px;
	
}

.form_field {

/*width: 40%;
margin-left: 65px; */ 
margin-top: 80px;
position:relative;
left:64px;
top: 4px;
padding: 20px 20px 20px;
width: 330px;
background: white;
border-radius: 3px;
-webkit-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
height:650px;
font-size: 15px;


}

.inside {


	width: 200px; 
}


.form_field h1 {
margin: -20px -20px 21px;
line-height: 40px;
font-size: 15px;
font-weight: bold;
color: #555;
text-align: center;
text-shadow: 0 1px white;
background: #f3f3f3;
border-bottom: 1px solid #cfcfcf;
border-radius: 3px 3px 0 0;
background-image: -webkit-linear-gradient(top, whiteffd, #eef2f5);
background-image: -moz-linear-gradient(top, whiteffd, #eef2f5);
background-image: -o-linear-gradient(top, whiteffd, #eef2f5);
background-image: linear-gradient(to bottom, whiteffd, #eef2f5);
-webkit-box-shadow: 0 1px whitesmoke;
box-shadow: 0 1px whitesmoke;

}

.form_field:before {
content: '';
position: absolute;
top: -8px;
right: -8px;
bottom: -8px;
left: -8px;
z-index: -1;
background: rgba(0, 0, 0, 0.08);
border-radius: 4px;
}

#error_explanation h2 {

	font-size: 20px; 
	color: red;
}
#error_explanation li {

	color: black;
	font-size: 15px; 
}
#error_explanation {

width: 311px;
float: right;
margin-right: 10px;
margin-top: 13px;
}

.field_with_errors { display: inline; 
}

.field_with_errors input
 {   border: 2px solid red; 
}
.button
{
	width:200px;
	height:100px;
}
/*
table, td, th
{
border:1px solid black;
}
*/


table.gridtable {
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
	width: 850px;
}
table.gridtable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}
table.gridtable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}

.student_table {

/*width: 40%;
margin-left: 65px; */ 
margin-top: 80px;
position:relative;
left:65px;
top: 4px;
padding: 20px 20px 27px;
width: 330px;
background: white;
border-radius: 3px;
-webkit-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
height:420px;
font-size: 15px;


}


.show_table {

margin-top: 50px;
position: relative;
left: 65px;
top: 4px;
padding: 20px 20px 47px;
width: 658px;
background: white;
border-radius: 3px;
-webkit-box-shadow: 0 0 200px rgba(255,255,255,0.5),0 1px 2px rgba(0,0,0,0.3);
box-shadow: 0 0 200px rgba(255,255,255,0.5),0 1px 2px rgba(0,0,0,0.3);
height: 350px;
font-size: 15px;
}


.show_table h1 {
margin: -20px -20px 21px;
line-height: 40px;
font-size: 15px;
font-weight: bold;
color: #555;
text-align: center;
text-shadow: 0 1px white;
background: #f3f3f3;
border-bottom: 1px solid #cfcfcf;
border-radius: 3px 3px 0 0;
background-image: -webkit-linear-gradient(top, whiteffd, #eef2f5);
background-image: -moz-linear-gradient(top, whiteffd, #eef2f5);
background-image: -o-linear-gradient(top, whiteffd, #eef2f5);
background-image: linear-gradient(to bottom, whiteffd, #eef2f5);
-webkit-box-shadow: 0 1px whitesmoke;
box-shadow: 0 1px whitesmoke;

}

.show_table:before {
content: '';
position: absolute;
top: -8px;
right: -8px;
bottom: -8px;
left: -8px;
z-index: -1;
background: rgba(0, 0, 0, 0.08);
border-radius: 4px;
}



.inside {


	width: 200px; 
}


.student_table h1 {
margin: -20px -20px 21px;
line-height: 40px;
font-size: 15px;
font-weight: bold;
color: #555;
text-align: center;
text-shadow: 0 1px white;
background: #f3f3f3;
border-bottom: 1px solid #cfcfcf;
border-radius: 3px 3px 0 0;
background-image: -webkit-linear-gradient(top, whiteffd, #eef2f5);
background-image: -moz-linear-gradient(top, whiteffd, #eef2f5);
background-image: -o-linear-gradient(top, whiteffd, #eef2f5);
background-image: linear-gradient(to bottom, whiteffd, #eef2f5);
-webkit-box-shadow: 0 1px whitesmoke;
box-shadow: 0 1px whitesmoke;

}

.student_table:before {
content: '';
position: absolute;
top: -8px;
right: -8px;
bottom: -8px;
left: -8px;
z-index: -1;
background: rgba(0, 0, 0, 0.08);
border-radius: 4px;
}

.back_b {

	margin-right: 30px;
	float: right;
	margin-top: -371px;
}


#first_logS{

margin-top: 77px;
}

#second_logR{

margin-top: 77px;
margin-left: -45px;
}

.sign_forg {

margin-left: 70px;
margin-top: -82px;
font-size: 16px;
}


#notifi {

	margin-top: 90px;
float: left;
margin-left: 140px;
width: 300px;
height: 400px;

}






.form_field2 {

/*width: 40%;
margin-left: 65px; */ 
margin-top: 55px;
position:relative;
left:64px;
top: 4px;
padding: 20px 20px 20px;
width: 330px;
background: white;
border-radius: 3px;
-webkit-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
height:250px;
font-size: 15px;


}

.inside {


	width: 200px; 
}


.form_field2 h1 {
margin: -20px -20px 21px;
line-height: 40px;
font-size: 15px;
font-weight: bold;
color: #555;
text-align: center;
text-shadow: 0 1px white;
background: #f3f3f3;
border-bottom: 1px solid #cfcfcf;
border-radius: 3px 3px 0 0;
background-image: -webkit-linear-gradient(top, whiteffd, #eef2f5);
background-image: -moz-linear-gradient(top, whiteffd, #eef2f5);
background-image: -o-linear-gradient(top, whiteffd, #eef2f5);
background-image: linear-gradient(to bottom, whiteffd, #eef2f5);
-webkit-box-shadow: 0 1px whitesmoke;
box-shadow: 0 1px whitesmoke;

}

.form_field2:before {
content: '';
position: absolute;
top: -8px;
right: -8px;
bottom: -8px;
left: -8px;
z-index: -1;
background: rgba(0, 0, 0, 0.08);
border-radius: 4px;
}

#paginate_positiion{


	margin-left: 600px;
}


#section1{
font-size: 12px;
width: 400px;
float: left;
}

#section2{
font-size: 12px;
width: 400px;
float: right;
margin-right: -52px;
margin-top: 45px;
}

#section3{
width: 400px;
float: left;
margin-left: 60px;
}