<h1>Registration Confirmation</h1>

<%= form_for @student, :url => registration_confirmation_path(params[:id]) do |f| %>
  <% if @student.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @student.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="actions"><%= f.submit "Activate" %></div>
<% end %>