<!DOCTYPE html>
<html>
<head>
  <title>AcrossEc</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	
<div id="username">
<p> <a href="#profile"> Hawra Abdulla </a><p> 
</div>


<div id="logo" ><img src="http://s13.postimage.org/dsjxojht3/plogo.gif" alt="Across EC logo"  width="245" height="145">
 

<div id="topTitle">
<h1> This is the general title </h1> 
</div>
</div> 

<div id="box">


<div id="navigationM">
<ul>
<li><a href="/pages/home">Home </a></li> 
<li><a href="/pages/about">AboutAcrossEC</a></li> 
<li><a href="/schedules">ViewSchedule</a></li>
<li><a href="/applications/new">Apply </a></li>
<li><a href="#status">ApplicationStatus</a></li>
<li><a href="#">HaveQuestions</a></li> 
</ul>
</div> 

<div id="content">
<%= yield %>
</div> 


<div id="navigationD">
<ul>
<li><a href="/pages/about">About us </a></li> 
<li><a href="/pages/contact">Contact us </a></li>
<li><a href="/pages/privacy">Privacy Policy</a></li>
</ul>
</div>

<div id="logo_footer" ><img src="http://s14.postimage.org/4t1uh9va9/CMSidra.jpg" alt="CMU and QF logo"  width="300" height="100">



</div>



</body>

<footer>

	

	</footer>
</html>


